<nav class="navbar navbar-relative-bottom">
	<div class="container-fluid">
		<div id="navbar" class="navbar-footer">
			<ul class="nav navbar-nav navbar-right">
				<li class="feedback"><a href="#/" data-toggle="tooltip" title="Feedback" aria-label="Feed Back"><i class="fa fa-comments-o fa-2x"></i></a></li>
				<li class="twitter"><a href="#/" data-toggle="tooltip" title="Twitter" aria-label="Twitter"><i class="fa fa-twitter fa-2x"></i></a></li>
				<li class="fb"><a href="#/" data-toggle="tooltip" title="FB" aria-label="Face Book"><i class="fa fa-facebook fa-2x"></i></a></li>
				<li class="googleplus"><a href="#/" data-toggle="tooltip" title="G+" aria-label="Google +"><i class="fa fa-google-plus fa-2x"></i></a></li>
			</ul>
		</div>
	</div>
</nav>